@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text:  #000000;
  --foreground:  #5f259f;
}
@font-face {
  font-family: 'Nexa';
  src: url('../public/fonts/nexa/Nexa-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('../public/fonts/nexa/Nexa-Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nexa', sans-serif;
  font-weight: bold;
}

body {
  @apply text-base;
  font-family: sans-serif;
  color: var(--text);
  background: var(--background);
  padding: 1rem;
}
